@model IEnumerable<BlogMongoDbLinux.Models.Post>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Blog Posts</title>
</head>
<body>
    <div>
    	<h1>Posts (@ViewData["Version"])</h1>

    	<p>
		    @Html.ActionLink("Create New", "Create")
		</p>
		<table class="table">
		    <tr>
		        <th>
		            @Html.DisplayNameFor(model => model.Title)
		        </th>
		        <th>
		            @Html.DisplayNameFor(model => model.Summary)
		        </th>
		        <th>
		            @Html.DisplayNameFor(model => model.Details)
		        </th>
		        <th></th>
		    </tr>

		@if(Model != null){
			foreach (var item in Model) {
			    <tr>
			        <td>
			            @Html.DisplayFor(modelItem => item.Title)
			        </td>
			        <td>
			            @Html.DisplayFor(modelItem => item.Summary)
			        </td>
			        <td>
			            @Html.DisplayFor(modelItem => item.Details)
			        </td>
			        <td>
			            @Html.ActionLink("Edit", "Edit", new { id=item.PostId }) |
			            @Html.ActionLink("Details", "Details", new { id=item.PostId }) |
			            @Html.ActionLink("Delete", "Delete", new { id=item.PostId })
			        </td>
			    </tr>
			}
		}

		</table>
    </div>
</body>
</html>

